@using BlazorAudioPlayer.Models
@inject IJSRuntime JS
@inject SpeechToTextClient SpeechToTextClient
<button type="button" class="btn btn-outline-primary" @onclick="() => OnClose.InvokeAsync(true)">Close</button>

<div class="text-center justify-content-center">
    <div class="row"><h5 class="col-12">@IntervalSet.Name</h5></div>

    @if (IntervalSet.IsTimerRunning)
    {

        <h2 class="@singleColumnCenter">Time: @IntervalSet.TotalTimeLeft</h2>

        <h5 class="@singleColumnCenter">Current Interval: @IntervalSet.CurrentIntervalName</h5>

        <h3 class="@singleColumnCenter">Interval Time Left: @IntervalSet.CurrentTimerLeft</h3>

        <button type="button" class="@singleColumnCenter btn btn-outline-danger" @onclick="() => IntervalSet.Stop()">
            <span class="oi oi-media-stop m-2 pointer" aria-hidden="true"></span>
        </button>
    }
    else
    {
        <h2 class="@singleColumnCenter">@IntervalSet.TotalTime</h2>

        <button type="button" class="@singleColumnCenter btn btn-outline-primary" @onclick="() => IntervalSet.Start()">
            <span class="oi oi-media-play m-2 pointer" aria-hidden="true"></span>
        </button>
    }

    @if (IntervalSet.Name == "Fat Burn")
    {
        <div class="@singleColumnCenter">
            <a href="https://youtu.be/9boaIRTLnns" target="_blank">How to do the fat burn workout?</a>
        </div>
    }

    @if (playSound)
    {
        <audio hidden loop autoplay>
            <source src="sounds/ding.wav" />
        </audio>
    }
</div>

@code {

    [Parameter]
    public IntervalSet IntervalSet { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    bool playSound = false;
    string singleColumnCenter = "col-12 text-center d-flex justify-content-center my-3";
    HowlerJsAudioPlayerInterop HowlerJsAudioPlayerInterop = new HowlerJsAudioPlayerInterop();
    protected List<PlaylistItem> Playlist = new List<PlaylistItem>();
    protected Dictionary<string, int> IntervalNameTrackIds = new();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            
            // https://github.com/soend/BlazorAudioPlayer
            // https://stackoverflow.com/questions/64459271/how-can-you-play-a-recorded-audio-blob-on-the-client-side-using-howler-js
            int trackId = 0;

            foreach (var interval in IntervalSet.Intervals)
            {
                if (!IntervalNameTrackIds.Any(pair => pair.Key == interval.Name))
                {
                    byte[] audioData = await SpeechToTextClient.GetSpeech(interval.Name);
                    string audioUrl = $"data:audio/wav;base64,{Convert.ToBase64String(audioData)}";
                    Playlist.Add(new PlaylistItem(trackId, interval.Name, audioUrl));
                    IntervalNameTrackIds.Add(interval.Name, trackId);
                    trackId++;
                }
            }

            await HowlerJsAudioPlayerInterop.CreateAudioPlayer(JS, Playlist);
        }
    }

    protected override void OnInitialized()
    {
        IntervalSet.OnSecondElapsed += IntervalSet_OnSecondElapsed;
        IntervalSet.OnStopped += IntervalSet_OnStopped;
        IntervalSet.OnFinished += IntervalSet_OnFinished;
        IntervalSet.OnCurrentIntervalStarted += IntervalSet_OnCurrentIntervalStarted;
    }

    private void IntervalSet_OnSecondElapsed(object sender, EventArgs e)
    {
        StateHasChanged();
    }

    private void IntervalSet_OnStopped(object sender, EventArgs e)
    {
        playSound = false;
    }

    private void IntervalSet_OnFinished(object sender, EventArgs e)
    {
        if (IntervalSet.IsTimerRunning)
        {
            playSound = true;
            Task.Run(() => StopPlayingTheSoundInAMoment());
        }

        StateHasChanged();
    }

    private async Task StopPlayingTheSoundInAMoment()
    {
        await Task.Delay(TimeSpan.FromMinutes(1));

        if (playSound == true)
        {
            playSound = false;
            StateHasChanged();
        }
    }

    private void IntervalSet_OnCurrentIntervalStarted(object sender, EventArgs e)
    {
        Task.Run(() => SayIntervalName());
    }

    private async Task SayIntervalName()
    {
        if (IntervalNameTrackIds.TryGetValue(IntervalSet.CurrentIntervalName, out int trackId))
        {
            var howlerJsState = await HowlerJsAudioPlayerInterop.Play(JS, trackId);
        }

        //byte[] audioData = await SpeechToTextClient.GetSpeech(IntervalSet.CurrentIntervalName);

        //if (audioData != null)
        //{
            //await Audio.Play(JS, audioData);
        //    StateHasChanged();
        //}
    }
}
