@inject IJSRuntime JS
@inject SpeechToTextClient SpeechToTextClient
<button type="button" class="btn btn-outline-primary" @onclick="() => OnClose.InvokeAsync(true)">Close</button>

<div>@IntervalSet.Name</div>

@if (IntervalSet.IsTimerRunning)
{

    <div>Time: @IntervalSet.TotalTimeLeft</div>

    <div>Current Interval: @IntervalSet.CurrentIntervalName</div>

    <div>Interval Time Left: @IntervalSet.CurrentTimerLeft</div>

    <span class="oi oi-media-stop m-2 pointer" aria-hidden="true" @onclick="() => IntervalSet.Stop()"></span>
}
else
{
    <div>@IntervalSet.TotalTime</div>

    <span class="oi oi-media-play m-2 pointer" aria-hidden="true" @onclick="() => IntervalSet.Start()"></span>
}

@if (IntervalSet.Name == "Fat Burn")
{
    <a href="https://youtu.be/9boaIRTLnns" target="_blank">How to do the fat burn workout?</a>
}

@if (playSound)
{
    <audio hidden loop autoplay>
        <source src="sounds/ding.wav" />
    </audio>
}

@code {
    [Parameter]
    public IntervalSet IntervalSet { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    bool playSound = false;

    protected override void OnInitialized()
    {
        IntervalSet.OnSecondElapsed += IntervalSet_OnSecondElapsed;
        IntervalSet.OnStopped += IntervalSet_OnStopped;
        IntervalSet.OnFinished += IntervalSet_OnFinished;
        IntervalSet.OnCurrentIntervalStarted += IntervalSet_OnCurrentIntervalStarted;
    }

    private void IntervalSet_OnSecondElapsed(object sender, EventArgs e)
    {
        StateHasChanged();
    }

    private void IntervalSet_OnStopped(object sender, EventArgs e)
    {
        playSound = false;
    }

    private void IntervalSet_OnFinished(object sender, EventArgs e)
    {
        if (IntervalSet.IsTimerRunning)
        {
            playSound = true;
            Task.Run(() => StopPlayingTheSoundInAMoment());
        }

        StateHasChanged();
    }

    private async Task StopPlayingTheSoundInAMoment()
    {
        await Task.Delay(TimeSpan.FromMinutes(1));

        if (playSound == true)
        {
            playSound = false;
            StateHasChanged();
        }
    }

    private void IntervalSet_OnCurrentIntervalStarted(object sender, EventArgs e)
    {
        Task.Run(() => SayIntervalName());
    }

    private async Task SayIntervalName()
    {
        byte[] audioData = await SpeechToTextClient.GetSpeech(IntervalSet.CurrentIntervalName);

        if (audioData != null)
        {
            await Audio.Play(JS, audioData);
            StateHasChanged();
        }
    }
}
