
<div class="my-3 container">
    @if (EnableTotalSecondsSlider)
    {
        <input class="row my-2 d-flex justify-content-center" min="@MinSeconds" max="86399" type="range" @bind-value="@TotalSeconds"/>
    }

    <div class="my-2 d-flex justify-content-center">
        @switch (_selectedTimePart)
        {
            case TimePart.Seconds:
                <div class="row">
                    <span class="arrow arrow-left" @onclick="() => Seconds--"></span>
                    <input type="range" max="59" @bind-value="@Seconds"/>
                    <span class="arrow arrow-right" @onclick="() => Seconds++"></span>
                 </div>
                break;
             case TimePart.Minutes:
                 <div class="row">
                    <span class="arrow arrow-left" @onclick="() => Minutes--"></span>
                    <input type="range" max="59" @bind-value="@Minutes"/>
                    <span class="arrow arrow-right" @onclick="() => Minutes++"></span>
                 </div>
                break;
             case TimePart.Hours:
                 <div class="row">
                    <span class="arrow arrow-left" @onclick="() => Hours--"></span>
                    <input type="range" max="23" @bind-value="@Hours"/>
                    <span class="arrow arrow-right" @onclick="() => Hours++"></span>
                 </div>
                break;
            default:
                break;
        }
    </div>


    <div class="row my-2 d-flex justify-content-center text-size">
        <span @onclick="() => TimePartSelected(TimePart.Hours)" style="@TimePartStyle(TimePart.Hours)">@Hours.ToString("00")</span>:
        <span @onclick="() => TimePartSelected(TimePart.Minutes)"  style="@TimePartStyle(TimePart.Minutes)">@Minutes.ToString("00")</span>:
        <span @onclick="() => TimePartSelected(TimePart.Seconds)"  style="@TimePartStyle(TimePart.Seconds)">@Seconds.ToString("00")</span>
    </div>
</div>

@code {
    private enum TimePart
    {
        Seconds,
        Minutes,
        Hours
    }

    [Parameter]
    public bool EnableTotalSecondsSlider { get; set; } = false;    

    [Parameter]
    public int MinSeconds { get; set; } = 10;

    [Parameter]
    public TimeSpan SelectedTime { get; set; } = new TimeSpan();

    [Parameter]
    public EventCallback<TimeSpan> SelectedTimeChanged { get; set; }

    [Parameter]
    public string TimePartSelectedStyle { get; set; } = "background-color: azure;";

    private TimePart _selectedTimePart = TimePart.Seconds;

    private int _seconds = 10;

    public int Seconds
    {
        get
        {
            return _seconds;
        }

        set
        {
            if (value != _seconds)
            {
                _seconds = value;
                SelectedTime = new TimeSpan(_hours, _minutes, _seconds);
                _totalSeconds = SelectedTime.TotalSeconds;
                Task.Run(async () => await SelectedTimeChanged.InvokeAsync(SelectedTime));
                StateHasChanged();
            }
        }
    }

    private int _minutes = 0;

    public int Minutes
    {
        get
        {
            return _minutes;
        }

        set
        {
            if (value != _minutes)
            {
                _minutes = value;
                SelectedTime = new TimeSpan(_hours, _minutes, _seconds);
                _totalSeconds = SelectedTime.TotalSeconds;
                Task.Run(async () => await SelectedTimeChanged.InvokeAsync(SelectedTime));
                StateHasChanged();
            }
        }
    }

    private int _hours = 0;

    public int Hours
    {
        get
        {
            return _hours;
        }

        set
        {
            if (value != _hours)
            {
                _hours = value;
                SelectedTime = new TimeSpan(_hours, _minutes, _seconds);
                _totalSeconds = SelectedTime.TotalSeconds;
                Task.Run(async () => await SelectedTimeChanged.InvokeAsync(SelectedTime));
                StateHasChanged();
            }
        }
    }

    private double _totalSeconds = 0;

    public double TotalSeconds
    {
        get
        {
            return _totalSeconds;
        }

        set
        {
            if (value != _totalSeconds)
            {
                _totalSeconds = value;
                SelectedTime = TimeSpan.FromSeconds(_totalSeconds);
                _seconds = SelectedTime.Seconds;
                _minutes = SelectedTime.Minutes;
                _hours = SelectedTime.Hours;
                Task.Run(async () => await SelectedTimeChanged.InvokeAsync(SelectedTime));
                StateHasChanged();
            }
        }
    }

    protected override void OnInitialized()
    {
        if (SelectedTime != TimeSpan.Zero)
        {
            _seconds = SelectedTime.Seconds;
            _minutes = SelectedTime.Minutes;
            _hours = SelectedTime.Hours;
            _totalSeconds = SelectedTime.TotalSeconds;
            StateHasChanged();
        }
    }

    private void TimePartSelected(TimePart timePart)
    {
        _selectedTimePart = timePart;
    }

    private string TimePartStyle(TimePart timePart)
    {
        if (_selectedTimePart == timePart)
        {
            return TimePartSelectedStyle;
        }
        else
        {
            return string.Empty;
        }
    }
}
